h# Python
__pycache__/
*.pyc

# Virtual Environment
myenv/


# MLflow
mlruns/

# Data files (optional - depends on your use)
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.tar